    body {
        margin: 0;
        padding: 0;
    }
    
    h1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
        text-align: center;
        margin: 0;
        padding-top: 3em;
        font-size: 4em;
    }
    
    h2 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
        text-align: center;
        margin: 0;
        font-size: 3em;
        padding-top: 0.5em;
    }
    
    h3 {
        font-size: 2.5em;
        text-align: center;
        color: white;
        font-style: italic;
    }
    
    header {
        height: 39.5em;
        background-image: url(img/main_banniere.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    header nav {
        position: fixed;
        display: flex;
        height: 5em;
        width: 100%;
        background: rgba(161, 161, 161, 0.4);
    }
    
    header nav a {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
        width: 35%;
        height: 5em;
        text-decoration: none;
    }
    
    header div {
        width: 100%;
        display: flex;
    }
    
    header nav a:hover {
        border-bottom: solid 6px blue;
    }
    
    main ul {
        list-style: none;
        font-size: 2em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-right: 1em;
    }
    
    main li img {
        width: 120px;
        height: 120px;
    }
    
    article:nth-of-type(2n+1) h2 {
        color: black;
    }
    
    article:nth-of-type(2n) {
        background-image: url(img/banniere2.jpg);
        color: white;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    article:nth-of-type(2n+1) {
        background-image: url(img/banniere3.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: black;
    }
    
    article:nth-of-type(2n+1) h2 {
        font-weight: bold;
    }
    
    article:nth-of-type(2n+1) h3 {
        color: gray;
        font-size: 2.2em;
        margin: 0px;
        font-style: italic;
    }
    
    p {
        font-size: 2em;
        text-align: center;
    }
    
    footer div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    #Compétences {
        display: flex;
        flex-direction: row;
    }
    
    footer {
        background-image: url(img/banniere2.jpg);
        color: white;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    
    footer nav {
        display: flex;
        flex-direction: column;
        padding-left: 7em;
        margin: auto;
    }
    
    footer a {
        color: white;
    }
    
    footer ul {
        list-style: none;
        margin: auto;
        padding-left: 30%;
        font-size: 1.5em;
    }
    
    header a img {
        width: 80px;
        height: 73px;
    }
    
    footer a img {
        width: 50px;
        height: 50px;
    }
    
    #menu {
        width: 0;
        height: 0;
    }
    
    @media screen and (max-width: 1024px) {
        #menu_deroulant {
            visibility: hidden;
            width: 6.5em;
        }
        #menu_deroulant a {
            background-color: black;
            width: 10em;
            height: 5em;
        }
        #menu_deroulant div {
            flex-direction: row;
            flex-wrap: wrap;
            padding-top: 5em;
        }
        #logo {
            position: fixed;
            width: 80px;
            height: 73px;
            left: 45%;
        }
        #menu {
            position: absolute;
            visibility: visible;
            height: 80px;
            width: 102px;
            left: 0;
        }
        header #menu_deroulant:hover {
            visibility: visible;
        }
    }
    
    @media screen and (max-width:768px) {
        h1 {
            padding-top: 5em;
            font-size: 2.8em;
        }
        h2 {
            font-size: 1.8em;
        }
        h3 {
            font-size: 1.3em;
        }
        main ul {
            font-size: 1.2em;
            padding-right: 2em;
        }
        footer ul {
            font-size: 1em;
            padding-left: 0;
        }
        p {
            font-size: 1.2em;
        }
        footer nav {
            padding-left: 0;
        }
        footer a img {
            width: 40px;
            height: 40px;
        }
    }