a img {
    width: 80px;
    height: 73px;
}

article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
    margin: 0;
    font-size: 3em;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
    text-align: center;
    margin: 0;
    font-size: 3em;
    padding-top: 0.5em;
}

body {
    background-image: url(img/banniere3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    font-size: 1.2em;
    text-align: justify;
}

.final {
    text-align: center;
}

@media screen and (max-width: 1024px) {
    article img {
        width: 600px;
        height: 333px;
    }
}

@media screen and (max-width: 768px) {
    article img {
        width: 350px;
        height: 194px;
    }
}